@media (max-width: 767px) {
  .block-main {
    padding-top: 147px;
    background: rgba(225, 255, 143, 1);

    &__title {
      padding-left: 57.5px;
      padding-right: 56.5px;
      text-align: center;
      font-size: 40px;
      font-weight: 700;
      line-height: 100%;
    }

    &__description {
      padding-left: 40px;
      padding-right: 40px;
      font-size: 16px;
      font-weight: 400;
      line-height: 100%;
      text-align: center;
    }
  }

  .block-button {

    margin-top: 36px;
    padding: 16px 103.5px;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }
}
