// html {
//   scroll-behavior: smooth;
// }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.center {
  padding-left: calc(50% - 1200px / 2);
  padding-right: calc(50% - 1200px / 2);
}

body {
  font-family: "Montserrat";
}

.block-main {
  background: url("./image/Big_\ star.svg") 61vw -333px no-repeat,
    url("./image/Star\ 1.svg") 5vw 94px no-repeat,
    url("./image/Star\ 1.svg") 68vw 538px / 37px no-repeat,
    url("./image/Star\ 3_1.svg") 11vw 69px no-repeat,
    url("./image/Star\ 4.svg") 72vw 568px / 83px no-repeat,
    rgba(225, 255, 143, 1);
  padding-bottom: 156px;
  padding-top: 196px;
}

.block-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }

  &__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
  }

  &__description {
    font-size: 24px;
    margin-top: 24px;
    font-weight: 400;
    line-height: 32px;
    max-width: 746px;
  }
}

.block-button {
  margin-top: 48px;
  padding: 16px 65px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  font: inherit;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  border: 1px solid #202027;
  background: #202027;
  color: white;
  border-radius: 30px;
  cursor: pointer;
}

.block-button:hover {
  background-color: white;
  color: #202027;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animation-content {
  font-family: "Montserrat";
  display: inline-flex;
  align-items: center;
  gap: 51px;
  font-size: 30px;
  font-weight: 700;
  line-height: 37px;
  letter-spacing: 4%;
  color: rgba(32, 32, 39, 1);
  padding: 0 20px;
  animation: scrollLeft 30s linear infinite;
  background: rgba(188, 236, 48, 1);
  white-space: nowrap;
  padding: 27px 49px 27px 49px;
}

.animation-content::after {
  content: " ВИКТОРИНА ✦ УГАДАЙ ЧИСЛО ✦ ПЕРЕВЕРНИ ТЕКСТ ✦ ПРОСТАЯ АРИФМЕТИКА ✦ КАМЕНЬ, НОЖНИЦЫ, БУМАГА ✦ ГЕНЕРАТОР СЛУЧАЙНЫХ ЦВЕТОВ ✦";
  white-space: pre;
}


.game {
  background: url(./image/Star\ 2_1.svg) 70vw 77px no-repeat,
    url("./image/Star2_2.svg") 3vw 822px / 55px no-repeat,
    url("./image/Star2_2.svg") 2vw 770px / 31px no-repeat, #202027;

  padding-bottom: 50px;
  padding-top: 94px;

  &__title {
    color: white;
    font-size: 64px;
    font-weight: 700;
    line-height: 100%;
  }

  &__description {
    margin-top: 24px;
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    max-width: 765px;
  }

  &__mobile {
    display: none;
  }
}

// КАРТОЧКИ ИГР

.game {
  &__container {
    margin-top: 72px;
    display: grid;
    align-items: start;
    grid-template-columns: repeat(auto-fit, minmax(378px, 4fr));
    gap: 32px;
    align-items: end;
  }

  &__card-link {
    text-decoration: none;
  }

  &__card {
    grid-column: span 4;
    background-color: white;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0 4px 12px #202027;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    width: 378px;
  }


  &__card-link:nth-child(2) &__card {

    margin-bottom: -32px;
  }



  &__card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px #202027;
  }

  &__image {
    width: 100%;
    height: 314px;
    object-fit: cover;
    display: block;
    border-radius: 30px 30px 0 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px 32px 0 32px;
  }

  &__number {
    width: 108px;
    height: 36px;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    color: rgba(32, 32, 39, 1);
    background-color: rgba(247, 247, 247, 1);
    margin: 0;
    margin-bottom: 16px;
    border-radius: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__name {
    font-size: 32px;
    font-weight: 700;
    line-height: 100%;
    color: rgba(39, 26, 88, 1);
    padding: 0;
    margin-bottom: 36px;
  }

  &__content--description {
    display: none;
  }

  &__content-button {
    display: none;
  }
}

.footer {
  padding: 61px 577px;
  font-size: 24px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 0px;
  text-align: center;
  background: rgba(188, 236, 48, 1);

}

@import "mobile";